# Assignment: pandas Summarization and Aggregation

**Name:** ___________________________

**Date:** ___________________________

**Total Points: 25**

---

## Instructions

This assignment will test your understanding of pandas data summarization and aggregation techniques. You will work with a sales dataset containing information about product sales across different regions.

- Replace all `# YOUR CODE HERE` comments with your solution
- Run all cells to verify your answers
- Make sure your output matches the expected format described in each question
- Submit the completed notebook with all cells executed

---

## Setup: Load the Dataset

Run this cell to load the sales data into a pandas DataFrame.

In [1]:
import pandas as pd
import numpy as np

# Sales data for Q1-Q2 2024
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['Laptop', 'Laptop', 'Laptop', 'Laptop', 'Phone', 'Phone', 'Phone', 'Phone',
                'Tablet', 'Tablet', 'Tablet', 'Tablet', 'Monitor', 'Monitor', 'Monitor', 'Monitor',
                'Headphones', 'Headphones', 'Headphones', 'Headphones', 'Keyboard', 'Keyboard', 'Keyboard', 'Keyboard'],
    'Sales': [45000, 38000, 52000, 41000, 28000, 35000, 31000, 29000,
              15000, 18000, 16000, 14000, 22000, 25000, 21000, 23000,
              8500, 9200, 8800, 7900, 5500, 6200, 5800, 5300],
    'Units': [30, 25, 35, 28, 140, 175, 155, 145, 75, 90, 80, 70,
              88, 100, 84, 92, 170, 184, 176, 158, 220, 248, 232, 212],
    'Quarter': ['Q1', 'Q1', 'Q1', 'Q1', 'Q1', 'Q1', 'Q1', 'Q1',
                'Q1', 'Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q2',
                'Q2', 'Q2', 'Q2', 'Q2', 'Q2', 'Q2', 'Q2', 'Q2']
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print("Sales Dataset:")
print(df)
print(f"\nDataFrame Shape: {df.shape}")

Sales Dataset:
   Region     Product  Sales  Units Quarter
0   North      Laptop  45000     30      Q1
1   South      Laptop  38000     25      Q1
2    East      Laptop  52000     35      Q1
3    West      Laptop  41000     28      Q1
4   North       Phone  28000    140      Q1
5   South       Phone  35000    175      Q1
6    East       Phone  31000    155      Q1
7    West       Phone  29000    145      Q1
8   North      Tablet  15000     75      Q1
9   South      Tablet  18000     90      Q1
10   East      Tablet  16000     80      Q1
11   West      Tablet  14000     70      Q1
12  North     Monitor  22000     88      Q2
13  South     Monitor  25000    100      Q2
14   East     Monitor  21000     84      Q2
15   West     Monitor  23000     92      Q2
16  North  Headphones   8500    170      Q2
17  South  Headphones   9200    184      Q2
18   East  Headphones   8800    176      Q2
19   West  Headphones   7900    158      Q2
20  North    Keyboard   5500    220      Q2
21  South    Keyboard   6200    248      Q2
22   East    Keyboard   5800    232      Q2
23   West    Keyboard   5300    212      Q2

DataFrame Shape: (24, 5)

---

## Part 1: Categorical Data Aggregation (8 points)

Answer the following questions about categorical columns in the dataset.

### Question 1.1 (1 point)

Find all **unique regions** in the dataset and store them in a variable called `unique_regions`.

In [ ]:
# YOUR CODE HERE
unique_regions =

# Display the result
print("Unique Regions:", unique_regions)

### Question 1.2 (1 point)

Count how many **unique products** are in the dataset and store the count in a variable called `num_products`.

In [ ]:
# YOUR CODE HERE
num_products =

# Display the result
print(f"Number of unique products: {num_products}")

### Question 1.3 (2 points)

Use `value_counts()` to find how many times each **product** appears in the dataset. Store the result in a variable called `product_counts`.

In [ ]:
# YOUR CODE HERE
product_counts =

# Display the result
print("Product Counts:")
print(product_counts)

### Question 1.4 (2 points)

Calculate the **percentage distribution** of sales records by Region.

**Hint:** Use `value_counts(normalize=True) * 100` and store the result in `region_percentage`.

In [ ]:
# YOUR CODE HERE
region_percentage =

# Display the result
print("Region Distribution (%):")
print(region_percentage)

### Question 1.5 (2 points)

Find the **mode** (most frequent value) for the 'Quarter' column and store it in a variable called `most_common_quarter`.

**Hint:** Use the `.mode()` method and extract the first value with `[0]`.

In [ ]:
# YOUR CODE HERE
most_common_quarter =

# Display the result
print(f"Most common quarter: {most_common_quarter}")

---

## Part 2: Quantitative Data Aggregation (10 points)

Perform numerical aggregations on the Sales and Units columns.

### Question 2.1 (1 point)

Calculate the **mean (average)** of the Sales column and store it in a variable called `avg_sales`.

In [ ]:
# YOUR CODE HERE
avg_sales =

# Display the result
print(f"Average Sales: ${avg_sales:,.2f}")

### Question 2.2 (1 point)

Find the **median** of the Units column and store it in a variable called `median_units`.

In [ ]:
# YOUR CODE HERE
median_units =

# Display the result
print(f"Median Units: {median_units}")

### Question 2.3 (2 points)

Calculate the **standard deviation** and **variance** of the Sales column. Store them in variables called `sales_std` and `sales_var`.

In [ ]:
# YOUR CODE HERE
sales_std =
sales_var =

# Display the results
print(f"Sales Standard Deviation: ${sales_std:,.2f}")
print(f"Sales Variance: ${sales_var:,.2f}")

### Question 2.4 (2 points)

Find the **minimum** and **maximum** values for both Sales and Units columns. Store them in variables:
- `min_sales`, `max_sales`
- `min_units`, `max_units`

In [ ]:
# YOUR CODE HERE
min_sales =
max_sales =
min_units =
max_units =

# Display the results
print(f"Sales Range: ${min_sales:,} to ${max_sales:,}")
print(f"Units Range: {min_units} to {max_units}")

### Question 2.5 (2 points)

Calculate the **total sales** and **total units** across all records. Store them in `total_sales` and `total_units`.

In [ ]:
# YOUR CODE HERE
total_sales =
total_units =

# Display the results
print(f"Total Sales: ${total_sales:,}")
print(f"Total Units: {total_units}")

### Question 2.6 (2 points)

Use the `describe()` method to generate comprehensive statistics for all numerical columns. Store the result in a variable called `numerical_summary`.

In [ ]:
# YOUR CODE HERE
numerical_summary =

# Display the result
print("Numerical Summary:")
print(numerical_summary)

---

## Part 3: DataFrame-Level Aggregations (4 points)

### Question 3.1 (1 point)

Find the **number of rows** and **number of columns** in the DataFrame. Store them in variables `num_rows` and `num_cols`.

**Hint:** Use the `shape` attribute.

In [ ]:
# YOUR CODE HERE
num_rows =
num_cols =

# Display the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

### Question 3.2 (1 point)

Calculate the **mean of all numerical columns** at once using a single method. Store the result in a variable called `all_means`.

**Hint:** Use `.mean()` on the entire DataFrame.

In [ ]:
# YOUR CODE HERE
all_means =

# Display the result
print("Mean of all numerical columns:")
print(all_means)

### Question 3.3 (2 points)

Create a new column called **'Price_Per_Unit'** by dividing Sales by Units for each row. Then calculate the mean price per unit and store it in `avg_price_per_unit`.

**Note:** This tests your ability to create derived columns and then aggregate them.

In [ ]:
# YOUR CODE HERE - Create the new column
df['Price_Per_Unit'] =

# YOUR CODE HERE - Calculate average price per unit
avg_price_per_unit =

# Display the results
print("DataFrame with Price Per Unit:")
print(df[['Product', 'Sales', 'Units', 'Price_Per_Unit']].head(10))
print(f"\nAverage Price Per Unit: ${avg_price_per_unit:.2f}")

---

## Submission Checklist

Before submitting, make sure:

- [ ] All code cells have been executed
- [ ] All `# YOUR CODE HERE` sections have been replaced with working code
- [ ] All outputs are visible
- [ ] Your name and date are filled in at the top
- [ ] The notebook runs from top to bottom without errors

**Total Points: 25**

---

## Grading Rubric

| Section | Points | Description |
|---------|--------|-------------|
| Part 1: Categorical Aggregation | 8 | Correct use of unique(), nunique(), value_counts(), normalize, mode() |
| Part 2: Quantitative Aggregation | 10 | Correct calculations of mean, median, std, var, min, max, sum, describe() |
| Part 3: DataFrame-Level | 4 | Shape, multi-column operations, derived columns |
| Part 4: Challenge | 3 | GroupBy operations and finding maximum |
| **Total** | **25** | |